
/Tarea 3/Tarea3/nbproject/private/
/Tarea 3/Tarea3/build/
/Tarea 3/Tarea3.2/nbproject/private/
/Tarea 3/Tarea3.2/build/
/Tarea 3/Tarea3.3/nbproject/private/
/Tarea 3/Tarea3.3/build/
/Tarea 3/Tarea3.1/build/
